/* task-03 */
#gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

li {
  list-style: none;
  width: 33%;
}

img {
  width: 400px;
}

/* decoration */
a {
  display: block;
  margin: 20px;
  font-size: 20px;
}

/* task-06 */

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
